
body {
  background-color: #448899;
  width: 80%;
}

img {
  border-radius: 20px;
}

h1 {
  text-shadow: 5px 3px #007399;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #cccccc;
}
